@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Kaushan+Script&display=swap');


body {
    margin: 0;
    padding: 0;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

.centerContainer {
    text-align: center;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 100vh;
    // background-image: url('../images/logo_transparent.png');
    // // Make the image a little more transparent
    // opacity: 0.7;
    // height: 110vh;
    // background-position: center;
    // margin-right: 50px;
    // background-repeat: no-repeat;
    // background-size: cover;
}

.backgroundImage {
    opacity: 0.7;
    height: 110vh;
    background-position: center;
    margin-right: 50px;
    background-repeat: no-repeat;
    background-size: cover;
}

.bigText {
    font-size: 100px;
    // change font color to white
    color: rgb(255, 255, 255);
    font-family: 'Kaushan Script';
}

.mediumText {
    font-size: 60px;
    // change font color to white
    color: rgb(255, 255, 255);
    font-family: 'Kaushan Script'
}

.smallText {
    font-size: 30px;
    // change font color to white
    line-height: 0.1;
    color: rgb(255, 255, 255);
    font-family: 'Have Heart One';
}

.learnMoreButton {
    font-family: 'Montserrat', sans-serif;
    color: black;
    width: 150px;
    background-color: #D9D9D9;
    border-radius: 10px;
    padding: 10px 20px;
    transition: 0.5s;
    // Add drop shadow
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.learnMoreButton:hover {
    transform: scale(1.01);
    opacity: 0.7;
}
