.heading {
  margin-bottom: 4rem;
  min-height: 20vh;
  align-items: center;
  display: flex; //d-flex goes hand in hand with align-items unless component already is flex
  color: black;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background: no-repeat center center fixed;
  h1 {
      font-family: "Oswald";
      font-weight:700;
      font-size: 3rem;
      letter-spacing: .2rem;
  }
  p {
      font-family: 'Roboto';
      font-size: 1.25rem;
      letter-spacing: 1.3px;
  }
}

.ministry-title {
  // text-transform: uppercase;
  h2 {
    font-family: "Oswald";
    font-weight:700;
   font-size: 2.0rem;
   letter-spacing: .2rem;
  }
  hr {
      // border: none;
      height: 2px;
      color: #000;
      background-color: #000;
  }
  p {
    font-size: 1rem;
 }
}

.card-body {
  font-family: "Roboto";
  p {
      margin-bottom: 0;
      line-height: 1.3;
  }
  .core {
      // font-weight: bold;
      margin-top: 0;
  }
  .subtitle {
      font-style: normal;
  }
  .detail {
      font-style: normal;
 }
}

.name {
 margin-bottom: 1;
 font-weight: bold;
}

.prayer {
  font-family: "Lato";
  font-size: 1.75rem;
}
