$blue: #173071;

.container-fluid {
    background: black;
    font-size: 10px;
}

.social-logo a {
    padding-right: .5rem;
    padding-left: .5rem;
    img {
        width: 28px;
        height: 28px;
    }
    :hover {
        opacity: 0.7;
    }
}

.footer-links {
    color: white;
	font-family: 'Montserrat-Bold', sans-serif;
	font-weight: 700;
    letter-spacing: 5px;
    margin-bottom: .5rem;

    :hover {
        opacity: 0.7;
    }

    a {
        color: white;
        text-decoration: none;
    }

    @media only screen and (max-width: 768px){
        margin-top: .75rem;
    }

}

.footer-end {
    color: white;
	font-family: 'Montserrat-Bold', sans-serif;
	font-weight: 400;
    letter-spacing: 1px;
    margin-top: 1rem;
    padding-bottom: 1rem;
}
